@import 'conf';

html {
    font: 0.625em;
    height: 100%;
    position: relative;

    body {

        h1 {
            font-size: 45px;
            display: flex;
            align-items: center;
        }

        #game {
            font-family: nunito;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;


            h1 {
                font-family: garamond;
                color: $green;
            }

            .square,
            .letter {
                border: 0.0625rem solid rgba(38, 57, 84, 0.16);
                border-radius: 0.25rem;
                display: flex;
                justify-content: center;
            }

            #box {
                margin-top: 3rem;
                margin-bottom: 3rem;

                .row {
                    height: 5rem;
                    display: flex;


                    .square {
                        width: 4rem;
                        height: 4rem;
                        margin: 0.25rem;
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 30px;
                        }
                    }

                    .good {
                        background-color: $lightGreen;
                    }

                    .wrong_place {
                        background-color: $yellow;
                    }
                }
            }


            #clavier {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                width: 33rem;
                height: 10rem;
                bottom: 3rem;

                .letter {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin: 0.25rem;
                    align-items: center;

                    p {
                        font-size: 20px;
                    }
                }

                .icon {
                    width: 50%;
                }
            }
        }

        #w {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            opacity: 0.2;
        }
    }
}